body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  background-attachment: fixed;
}

.contents {
 width: 55%;
 background-color: rgba(255,255,255,0.8);
 margin: -10px auto 0 auto;
 padding: 5px;
}

.topContents {
  width: 690px;
  height: 100px;
  margin: 10px auto 0px auto;
  overflow: hidden;
  color: red;
}

.textInput {
  margin: 2px;
  text-align: center;
  width: 50%;
}

#mutationSelect {
  width: 50%;
  height: 100%;
  float: left;
  overflow: hidden;
  color: blue;
}

.buttonContents {
    color: orange;
}

.checkButton {
  background-color: #1b2f4f;
  border-radius: 6px;
  border: none;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  width: 208px;
  cursor: pointer;
  text-align: center;
}

.botContents {
  position: relative;
  width: 640px;
  height: 500px;
  margin: 20px auto 0 auto;
  overflow: hidden;
  color: yellow;
}

.offspringContainer img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 640px;
  max-height: 500px;
}


#popup {
    width: 300px;
    padding: 8px;
    position: fixed;
    top: 30px;
    cursor: pointer;
    left: 30px;
    background-color: rgba(55, 74, 67, 0.8);
    color: #b0bfba;
    border-radius: 10px;
    font-family: "Open Sans";
}
